<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Post</title>
</head>
<body>

<form method="POST" action="/addPost">
  <label for="body">Body: </label>
  <br>
  <textarea id="body" name="body" cols="40" placeholder="Type what you want to share here..."> </textarea>
  <br>
  <button type="submit">Post</button>
</form>

</body>
</html>