<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home Page</title>
</head>

<body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">login</a></li>
    <li><a href="/signup">Sign Up</a></li>
  </ul>
</nav>

<h1>Welcome <span th:text=${username}></span> to CodeFellowShip Web App Using Spring Boot.</h1>
</body>

</html>